



@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    .removebuttn{
        
        background-color: rgb(243, 94, 94);
        border-radius: 9px;
        
        
    }
    .cart-container {
        max-width: 900px;
        margin: 0 auto;
      }
      
      .cart-item {
        max-height: 200px;
      }
      
      .cart-image {
        max-width: 100%;
        height: auto;
      }
      
      .cart-quantity {
        width: 50px;
        text-align: center;
      }