



@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    .removebuttn{
        
        background-color: rgb(243, 94, 94);
        border-radius: 9px;
        
        
    }