.main {
    height: 69vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cardContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 26px;
    margin-right: 26px;
    

  }
  .image {
    height: 200px; /* Set the desired fixed height for the images */
    object-fit: cover;
    filter: brightness(0.7);
  }  
  .cardText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    pointer-events: none;
  }

  .image:hover{
    
    filter: brightness(0.3);
  }