.gradient-custom-3 {
    
    background: #84fab0;
  
    
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  
    
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  
  .gradient-custom-4 {
    
    background: #0896d8;
  
    
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
    
    background: linear-gradient(to right, rgb(36, 168, 84), rgb(34, 109, 146))
  }
  .svg1{
    padding-left: 38px;
    margin-left: -35ppx;
  }
  .extra{
    border-radius: 5px;
    box-shadow: #b44593 19px;
  }